@charset "utf-8";
/* CSS Document */

/*
Font-Family: 'Playfair Display', Serif;
Font-Size: 48px;
Font-Family: 'Source Sans Pro', Sans-Serif;
Font-Size: 16px;
*/

/*
Gorgeous Blue: #275fba;
*/
.debug{
  color:white;
  display: none;
}
.hidden{
	display:none;	
}
body{
  background-color:#16161d;
}
h2{
  Font-Family: 'Playfair Display', Serif;
  Font-Size: 3rem;
  margin-bottom:1rem;
  color:white;
  font-style: italic;
}
p{
  Font-Family: 'Source Sans Pro', Sans-Serif;
  Font-Size: 1.3em;
  margin:15px;
  text-indent:20px;
  padding-bottom:5px;
  line-height:1.6;
}
a{
  color:white;
  text-decoration-color: white;
}
.italics{font-style: italic;}
.white{color:white;line-height:35px;}
.black{color:#16161d;}
.blackBG{background-color: #070707}
.flexIn{
  display: flex;
  justify-content: center;
  align-items: center;
}
#canvas{
  background-color:#191919;
  position:absolute;
  z-index:-1;
  max-width: 100%;
  border-bottom:3px solid rgb(15, 15, 15);
      /* background: linear-gradient(#fca5f1, #b5ffff); */
      background: linear-gradient(170deg, #304352, #162851);
      margin:0px;
      width:100%;
      height:93vh;
      transition:.2s;
}
#onTop{
  width:100%;
  height:93vh;
  z-index:0;
  position:absolute;
}
#mainHeader{
  width:100%;
  height:20%;
  margin-top:50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo{
  margin-left:30px;
  width:25%;
}
#logo h2{
  Font-Family: 'Playfair Display', Serif;
  Font-Size: 48px;
  font-style: italic;
  color:white;
}
#mainNav{
  display: flex;
  /*REMOVING NAV UNTIL FURTHER NOTICE*/visibility: hidden;
}
.mainNavButton{
  Font-Family: 'Source Sans Pro', Sans-Serif;
  Font-Size: 16px;
  color:white;
  transition:.2s;
  margin-left:2px;
  margin-right:2px;
  margin-top:2px;
  margin-bottom:2px;
  border:2px solid #ffffff;
  border-radius:3px;
  padding:2px;
  background-color:rgba(255, 255, 255, .3);
  text-decoration: none;
}
.mainNavButton:last-child{
  margin-right:10px;
}
.mainNavButton:hover:nth-child(1){
  background-color:rgba(231, 61, 48, 0.69);
}
.mainNavButton:hover:nth-child(2){
  background-color: rgba(246, 130, 31, .7);
}
.mainNavButton:hover:nth-child(3){
  background-color: rgba(253, 220, 3, .7);
}
.mainNavButton:hover:nth-child(4){
  background-color: rgba(58, 94, 170, .7);
}
.mainNavButton:hover:nth-child(5){
  background-color: rgba(118, 198, 178, .7);
}
#stickyTop{
  position: fixed;
  margin-left:90%;
  display: none;
  transition:.4s;
}
@media screen and (max-width:500px){
  #mainNav{
    display: flex;
    flex-direction: column;
  }
  .mainNavButton:last-child{
    margin-right:2px;
  }
  .mainNavButton{
    padding-right:10px;
  }
}
#container{
  width:70%;
  height:30%;
  margin-left:15%;
  margin-top:10%;
}
#typed{
  Font-Family: 'Source Sans Pro', Sans-Serif;
  Font-Size: 8vw;
  color:#ffffff;
  display:flex;
  justify-content: center;
  align-items:center;
  height:30%;
  text-shadow: 0px 0px 8px #191919;
}
.typeChange{
  Font-Family: 'Playfair Display', Serif;
  Font-Size: 6vw;
  font-style: italic;
  color:#ffffff;
}
#underneath{
  z-index:0;
  position:absolute;
  margin-top: 94vh;
  width:100%;
  background-color:#16161d;
}
#switcher{
  height:150px;
  background-color: white;
  display:none;/*Reinitialize after more bgs are implemented*/
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#currentCanvas{
  background-color: #191919;;
  border-radius:50%;
  width:70px;
  height:70px;
  margin:10px;
  background-image: url('../images/canvas.png');
  background-size: cover;
}
#currentTitle{
  Font-Family: 'Playfair Display', Serif;
  Font-Size: 1em;
  font-style: italic;
}
#canvasSwitcher{
  display:flex;
  width:300px;
  justify-content: center;
}
.canvasButton{
  background-color:#191919;;
  border-radius:50%;
  width:30px;
  height:30px;
  margin:5px;
}
#canvas1{background-size:cover;background-image: url('../images/canvas.png');}
#canvas2{background-size:cover;background-image: url('../images/canvas.png');}
#canvas3{background-size:cover;background-image: url('../images/canvas.png');}
.iDoAndResume{
  padding:3rem;
}
.sectionCon{
  max-width:1140px;
  margin:0 auto;
  padding:3rem;
}
#about{
  min-height:150px;
  width:100%-10px;
  background-color:#16161d;
  margin-top:15px;
}
#library{
  width:100%;
  background-color:white;
  margin-top:15px;
}
.cardBanner{
  width:100%;
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
}
.cardBanner a{
  text-decoration: none;
}
.card{
  width:240px;
  height:300px;
  background-color:white;
  margin-top:5px;
  margin-bottom:15px;
  margin-left:10px;
  margin-right:10px;
  border-radius:15px;
  box-shadow:0px 3px 7px #333333;
}
.card:hover,.card:active{box-shadow:0px 0px 3px #333333;}
.cardImg{
  height:112.5px;
  width:100%;
  border-radius:15px 15px 0px 0px;
  overflow:hidden;
  border-bottom:4px solid #666666;
  display:flex;
  justify-content: center;
  align-items: center;
}
.cardImg img{
  width:100%;
}
.cardTitle{
  Font-Family: 'Playfair Display', Serif;
  font-size:42pt;
  text-align:center;
  font-style: italic;
  color:#333333;
  margin:0px;
  width:100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.cardSubTitle{
  Font-Family: 'Source Sans Pro', Sans-Serif;
  margin-left:5px;
  margin-right:5px;
  color:#333333;
  border-top:2px solid #333333;
  height:99px;
  overflow:hidden;
  margin:3px;
  font-size:15pt;
  
}
.cardDate{
  Font-Family: 'Source Sans Pro', Sans-Serif;
  margin-top:-7px;
  margin-left:15px;
  color:#888888;
  font-size:15pt;
}
#resumeCon{
  min-height:150px;
  width:100%-10px;
  background-color:#16161d;
  margin-top:15px;
}
#contactCon{
  min-height:150px;
  width:100%;
  background-color:white;
  margin-top:15px;
}
#letsTalk{
  margin-left:30%;
}
.formWrapper{
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#submitButton{
  width:100%;
  margin-top:30px;
  margin-bottom:30px;
}
#footer{
  height:100px;
  width:100%;
  background-color:#070707;
  display:flex;
  justify-content: center;
  align-items: center;
}
.social{
  width:80px;
  height:80px;
  border-radius: 50%;
  margin:10px;
  transition:.2s;
}
.social:hover,.social:active{
  padding-bottom:5px;
}
.social img{
  width:80px;
  height:80px;
  border-radius:50%;
}
@keyframes rocker{
  0%{margin-top:0px;}
  50%{margin-top:20px;}
  100%{margin-top:0px;}
}
#downRockerHold{
  width:100%;
  height:100px;
  margin-top:10vh;
  display:flex;
  justify-content: center;
}
#downRocker{
  height:80px;
  width:80px;
  animation-name: rocker;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  opacity:.5;
  display:flex;
  justify-content: center;
  align-items: center;
}
#downRocker img{
  width:40px;
  height:40px;
}
#versioning{
  background-color: #070707;
  color:rgb(26, 26, 26);
  display: flex;
  justify-content: center;
  align-items: center;
}
#versioning p{
  margin:0 auto;
  font-size: .80rem;
}
#lightBox{
  position: sticky;
  width:100%;
  height:100vh;
  top:0px;
  background-color: rgba(0,0,0,.5);
  z-index: 2;
  display: none;
  transition:.2s;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}
#popBody{
  width:50%;
  background-color: #191919;
  border-radius:15px;
  overflow: hidden;
}
#popBody p{
  color:white;
  z-index: 3;
  font-size:2rem;
}
@media screen and (max-width:650px){
  #popBody p{
    font-size: 1rem;
  }
}
#closeButton{
  background-color:#6BF178;
  width:120px;
  height:80px;
  margin:30px;
  border-radius:10px;
  display:flex;
  justify-content: center;
  align-items:center;
  transition: .2s;
}
#closeButton p{
  padding: 0;
  margin: 0;
  text-indent: 0;
  color:#191919;
  Font-Family: 'Playfair Display', Serif;
  font-style: italic;
}
#closeButton:hover{
  background-color:rgb(77, 146, 83);
}
input.input,textarea.input{
  width:100%;
  Font-Family: 'Source Sans Pro', Sans-Serif;
  Font-Size: 16px;
  border:1px solid rgb(196, 196, 196);
  border-radius: 5px;
  transition:.3s;
}
textarea.input{
  resize:none;
}
textarea.input:focus{
  box-shadow: 0px 10px 0px #275fba;
}
input.input:focus{
  box-shadow: 0px 10px 0px #275fba;
}
#submitButton{
  width:100%;
  background-color: rgba(166,58,80,1);
  cursor: pointer;
  color:white;
  padding:5px;
  border:none;
}
#submitButton:hover{
  background-color: rgb(212, 50, 83);
}
#submitButton:focus{
  box-shadow: inset 0px 0px 5px black;
}
.blue{
  box-shadow: 0px 5px 0px #283845;
}
.beige{
  box-shadow: 0px 5px 0px rgba(242,212,146,1);
}
.red{
  box-shadow: 0px 5px 0px #a63a50;
}
.reminderText{
  font-style: italic;
  color:rgba(0,0,0,.5);
  font-size:.9rem;
}
#htmlResume{
  display: flex;
  justify-content: center;
  align-items: center;
}
#galleryCon{
  min-height:150px;
  width:100%;
  background-color:white;
  margin-top:15px;
}
#galleryConImages{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: row;
  flex-wrap: wrap;
}
.galleryImage{
  height:200px;
  padding:20px;
  border:4px solid black;
  margin:10px;
  cursor: pointer;
}
#galleryBack{
  width:100%;
  height:100vh;
  background-color: rgba(255, 255, 255, 0.69);
  position: sticky;
  top:0;
  opacity: 0;
  margin-bottom:-100vh;
  visibility:hidden;
  transition:.2s;
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items:center;
}
#popupImg{
  box-shadow:0px 5px 15px black;
  margin:20px;
  max-width:90%;
  max-height:90%;
}
#resumeActual{
  background-color: white;
  margin:20px;
  box-shadow: 3px 5px 15px #070707;
  max-height: 100vh;
  max-width:100%;
}
.insignia{
  width:80px;
  margin-bottom:10px;
}
.pinstripe{
  width:90%;
  height:3px;
  background-color:#F15E5E;
  opacity: .5;
  margin-left:5%;
  border-radius:50%;
}
.formLabel{
  margin-bottom:0rem;
  text-indent: 0px;
}
/* newcards */
.cardColdLink{
  text-decoration:none;
}
.cardCold{
  text-decoration:none;
  width:300px;
  margin:10px;
  z-index:10;
  height:200px;
  background-color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  background-image:url('https://images.pexels.com/photos/91228/pexels-photo-91228.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size:cover;
  border-radius:3px;
/*   filter:grayscale(50%); */
  transform:rotate3d(0, 0, 0, 15deg);
  box-shadow:0px 5px 10px rgba(0,0,0,.5);
  transition:.2s;
  opacity:.9;
  overflow:hidden;
}
.cardColdTitle{
  font-family:'Open Sans',sans-serif;
  font-size:2rem;
  color:white;
  text-shadow:0px 0px 1px rgba(0,0,0,.9);
  border-bottom:2px solid rgba(255,255,255,.75);
  margin-bottom:5px;
  margin-top:5px;
}
.cardColdSlug{
  font-family:'Open Sans',sans-serif;
  font-size:1rem;
  color:white;
  text-shadow:0px 0px 1px rgba(0,0,0,1);
  padding-left:10px;
  padding-right:10px;
  text-align:center;
}
.cardCold:hover{
  z-index:11;
  transform: scale(1.1);
  filter:grayscale(0%);
  opacity:1;
/*   transform:rotate3d(1, 0, 0, 360deg); */
}
.cardCold:active,.cardCold:focus{
  z-index:11;
  transform: scale(0.9);
  filter:grayscale(0%);
  opacity:1;
}